@font-face {
    font-family: digital;
    src: url(/digital-7.italic.ttf)
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#calculator-container {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 5px solid black;
    border-radius: 30px;
    width: 400px;
    height: auto;
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
}

#display {
    background-color: white;
    display: flex;
    font-family: digital;
    font-size: 40px;
    border: 5px solid black;
    margin: 50px 15px 0 15px;
    width:300px;
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    padding: 20px;
    line-height: 1.2em;
    text-align: right;
}


#current-value {
    display: inline-block;
    height: 48px;
    text-overflow: initial clip;
    white-space: nowrap;
    right: 0;
    overflow: hidden;
    direction: rtl ;

}

#digits-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 30px 0;;
}

button {
    margin: 10px;
    font-size: 50px;
    font-family: digital;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    border-color: 5px solid black;
    padding-bottom: 2px;
}

button:hover {
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1); 
    transition: all 0.3s ease 0s;
}

button:active {
    background-color: #2EE59D;
    color: white;
    box-shadow: 0px 15px 20px rgba(46,299, 157, 0.4);
}

#empty {
    background-color: transparent;
    border-color: transparent;
}
